/FurnitureStore.Repositories/bin
/FurnitureStore.Repositories/obj
/FurnitureStore/Client/bin
/FurnitureStore/Client/obj
/FurnitureStore/Server/bin
/FurnitureStore/Server/obj
/FurnitureStore/Shared/bin
/FurnitureStore/Shared/obj
